#root {
  background-color: #1b2c38;
  text-align: center;
}

#achievements {
  color: #c5c3c0;
}

#achievementsTable {
  color: #c5c3c0;
}

#games {
  background-color: #111a23;
  h2 {
    color: #c5c3c0;
    border-bottom: 5px solid #417B9C;
  }
}

.game-card {
  width: 300px;
  height: fit-content;
}
