#root {
  text-align: center;
}

#unauthenticatedContainer {
  background-color: #1b2c38;
  height: 100vh;
}

#achievements {
  background-color: #111a23;
  border: 5px solid #417B9C;
  color: #c5c3c0;
  width: 90%;
}

#achievementsTable {
  color: #c5c3c0;
}

#games {
  background-color: #111a23;
  border: 5px solid #417B9C;
  h2 {
    color: #c5c3c0;
    border-bottom: 5px solid #417B9C;
  }
}

.game-card {
  width: 300px;
  height: fit-content;
}

#form {
  color: white;
  background-color: #1b2c38;
  height: 100vh;
  width: 100%;
}
